In [1]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity
ratings=pd.read_csv("marks.csv",index_col=0)
ratings

            Subject 1  Subject 2  Subject 3  Subject 4  Subject 5
Gaurav            4.6        4.4        0.0        1.4        1.0
Chir patel        3.6        4.0        4.6        1.0        1.6
Sammed            4.0        1.8        3.6        1.4        3.0
Vraj Dugar        3.4        4.0        2.8        0.0        0.0
Manan             4.4        4.4        0.0        3.6        2.0
Harsh             4.0        4.6        4.0        2.8        2.4
Priyanshi         4.2        0.0        4.6        2.6        2.6
Avishek           4.2        5.0        0.0        2.0        1.2
Thakur            4.2        5.0        3.8        2.0        2.4
Rajat             4.8        4.0        3.8        0.0        1.8

In [2]:
def standardize(row):
    new_row = (row - row.mean())/(row.max()-row.min())
    return new_row

ratings_std = ratings.apply(standardize)
ratings_std

            Subject 1  Subject 2  Subject 3  Subject 4  Subject 5
Gaurav       0.328571      0.136  -0.591304  -0.077778  -0.266667
Chir patel  -0.385714      0.056   0.408696  -0.188889  -0.066667
Sammed      -0.100000     -0.384   0.191304  -0.077778   0.400000
Vraj Dugar  -0.528571      0.056   0.017391  -0.466667  -0.600000
Manan        0.185714      0.136  -0.591304   0.533333   0.066667
Harsh       -0.100000      0.176   0.278261   0.311111   0.200000
Priyanshi    0.042857     -0.744   0.408696   0.255556   0.266667
Avishek      0.042857      0.256  -0.591304   0.088889  -0.200000
Thakur       0.042857      0.256   0.234783   0.088889   0.200000
Rajat        0.471429      0.056   0.234783  -0.466667   0.000000

In [3]:
item_similarity = cosine_similarity(ratings_std.T)
item_similarity

array([[ 1.        ,  0.06491228, -0.35307241,  0.19125786,  0.27223606],
       [ 0.06491228,  1.        , -0.44962486, -0.06565671, -0.44957174],
       [-0.35307241, -0.44962486,  1.        , -0.25937731,  0.43180499],
       [ 0.19125786, -0.06565671, -0.25937731,  1.        ,  0.51812075],
       [ 0.27223606, -0.44957174,  0.43180499,  0.51812075,  1.        ]])

In [4]:
item_similarity_df = pd.DataFrame(item_similarity,index=ratings.columns,columns=ratings.columns)
item_similarity_df

           Subject 1  Subject 2  Subject 3  Subject 4  Subject 5
Subject 1   1.000000   0.064912  -0.353072   0.191258   0.272236
Subject 2   0.064912   1.000000  -0.449625  -0.065657  -0.449572
Subject 3  -0.353072  -0.449625   1.000000  -0.259377   0.431805
Subject 4   0.191258  -0.065657  -0.259377   1.000000   0.518121
Subject 5   0.272236  -0.449572   0.431805   0.518121   1.000000

In [6]:
def get_similar_subjects(subject_name,user_rating):
    
    similar_score = item_similarity_df[subject_name]*user_rating
    similar_score = similar_score.sort_values(ascending=False)
    #print(type(similar_ratings))
    return similar_score
print(get_similar_subjects("Subject 5",5))

Subject 5    5.000000
Subject 4    2.590604
Subject 3    2.159025
Subject 1    1.361180
Subject 2   -2.247859
Name: Subject 5, dtype: float64